<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4 [textContent]="eventDetails.eventName"></h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 col-sm-6">
              <img class="card-img" [src]="eventDetails.imageUrl" alt="Card image">
          </div>
          <div class="com-md-7 col-sm-6">
            <p [innerHtml]="eventDetails.eventDescription"></p>
            <p class="event-date" [textContent]="eventDetails.eventDate | date:'medium'"></p>
            <p class="event-city" [textContent]="eventDetails.city"></p>
            <p class="event-price" [textContent]="eventDetails.price | currency:'USD'"></p>
            <p class="event-city" [textContent]="eventDetails.availableSeats"></p>
          </div>
        </div>
        <form>

        </form>
      </div>
    </div>
  </div>
</div>